/* .navbarContainer{
    background: rgb(44, 41, 50);
    padding: 15px 10px;
    height: 2em;
    margin-bottom: 10px;
}

.navbarList{
    display: flex;
    justify-content: end;
    
}

.navItem{
    display: inline;
    list-style-type: none;
    color: white;
    text-decoration: none;
    margin: 10px;

} */
